.app {
  padding: 0 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.user-card {
  background: bisque;
  padding: 1rem;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgb(143, 98, 42);
}

.user-card img {
  width: 100%;
  height: 258px;
  object-fit: cover;
  border-radius: 10px;
}
